# Data Exploration

# 1.1 Load a dataset using Pandas and display the first 10 rows

In [1]:
import pandas as pd

In [2]:
dt = pd.read_csv('test.csv')

In [3]:
dt.head()

,id,title,Rating,maincateg,platform,actprice1,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1
0,2242,Casuals For Men (Blue),3.8,Men,Flipkart,999,27928,3543,14238.0,4295,3457,1962,3976.0,1
1,20532,Women Black Flats Sandal,3.9,Women,Flipkart,499,3015,404,1458.0,657,397,182,321.0,1
2,10648,Women Gold Wedges Sandal,3.9,Women,Flipkart,999,449,52,229.0,70,71,33,46.0,1
3,20677,Men's Height Increasing High Heel Formal Party...,3.9,Men,Flipkart,2999,290,40,141.0,51,49,17,32.0,1
4,12593,Loafers For Men (Tan),3.9,Men,Flipkart,999,2423,326,1265.0,414,293,143,308.0,0

In [4]:
dt.head(10)

,id,title,Rating,maincateg,platform,actprice1,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1
0,2242,Casuals For Men (Blue),3.8,Men,Flipkart,999,27928,3543,14238.0,4295,3457,1962,3976.0,1
1,20532,Women Black Flats Sandal,3.9,Women,Flipkart,499,3015,404,1458.0,657,397,182,321.0,1
2,10648,Women Gold Wedges Sandal,3.9,Women,Flipkart,999,449,52,229.0,70,71,33,46.0,1
3,20677,Men's Height Increasing High Heel Formal Party...,3.9,Men,Flipkart,2999,290,40,141.0,51,49,17,32.0,1
4,12593,Loafers For Men (Tan),3.9,Men,Flipkart,999,2423,326,1265.0,414,293,143,308.0,0
5,11159,Canvas Shoes For Men (Black),3.9,Men,Flipkart,999,541,72,281.0,104,69,17,70.0,0
6,10680,Combo Pack Of 2 Casual Shoes Slip On Sneakers ...,3.9,Men,Flipkart,2400,824,105,386.0,199,106,61,72.0,1
7,6433,ARYA - DIFFERENT EDGE Bellies For Women (Purple),4.2,Women,Flipkart,4299,166,24,94.0,39,12,6,15.0,1
8,2794,"Latest Collection, Comfortable & Fashionable B...",3.9,Women,Flipkart,499,1816,218,899.0,360,239,113,208.0,0
9,11579,MOCCASSIN Slip On For Men (Black),3.8,Men,Flipkart,2299,3066,392,1304.0,803,462,189,308.0,1